<div class="ui link cards">

  <div class="card">
    <div class="content">
      <div class="header">
        People ({{ people.id }})
      </div>
    </div>
    <div class="content">

      <form class="ui form">
  
        <div class="field">
          <label>First Name</label>
          <p>{{ people.first_name }}</p>
        </div>
        <div class="field">
          <label>Last Name</label>
          <p>{{ people.last_name }}</p>
        </div>
        <div class="field">
          <label>Nickname</label>
          <p>{{ people.nickname }}</p>
        </div>
        <div class="field">
          <label>Gender</label>
          <p>{{ people.gender }}</p>
        </div>
        <div class="field">
          <label>Date of birth</label>
          <p>{{ people.date_of_birth | date: 'd, MMM yyyy' }}</p>
        </div>
        <div class="field">
          <label>Weight (kg)</label>
          <p>{{ people.weight_in_kg }}</p>
        </div>
  
      </form>

    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui orange button" (click)="editThisPerson()">
          <i class="edit icon"></i>
          Edit
        </div>
        <div class="ui basic grey button" (click)="closeView()">
          <i class="close icon"></i>
          Close
        </div>
      </div>
    </div>
  </div>

</div>
