<div class="ui link cards">

  <div class="card">
    <div class="image module-icon">
      <i class="male massive icon"></i>
    </div>
    <div class="content">
      <a routerLink="/people">People Module</a>
    </div>
  </div>

  <div class="card">
    <div class="image module-icon">
      <i class="users massive icon"></i>
    </div>
    <div class="content">
      <a routerLink="/people/list">People List</a>
    </div>
  </div>

  <div class="card">
    <div class="image module-icon">
      <i class="yen sign massive icon"></i>
    </div>
    <div class="content">
      <a routerLink="/money/invoice-list">Money Module</a>
    </div>
  </div>

</div>
