# compiled output
target
build
dist

# dependencies
/node_modules

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
*.iml
.settings/

# misc
npm-debug.log
package-lock.json
log
/typings

# System Files
.DS_Store
Thumbs.db
