/* page base */
body.main {
  background-color: whitesmoke;
  transition: color 0.5s, background-color 0.5s;
}

.w100 {
  width: 100%;
}

/* my card */
.my.solo-card.holder {
  margin: 0.1em auto;
  max-width: 50em;
}
.my.cards.holder {
  margin: 0;
  padding: 0.4em;
  display: flex; 
  flex-flow: row wrap;
}
.my.solo-card {
  margin: 0.5em 0;
}
.my.card {
  width: 30em;
  padding-right: 1em;
  padding-bottom: 1em;
}
.my.small.card {
  width: 22em;
}
.my.big.card {
  width: 46em;
}
.my.huge.card {
  width: 120em;
}

/* fix a-input-number width issue */
.my.ant.input-number {
  width: 100%;
}

#app {
  
}
