/* util/helper */
.w100 {
  width: 100%;
}
.sq30 {
  width: 30px;
  height: 30px;
}
.sq40 {
  width: 40px;
  height: 40px;
}
.sq50 {
  width: 50px;
  height: 50px;
}
.sq60 {
  width: 60px;
  height: 60px;
}
/* table */
table.my td.right-aligned {
  text-align: right;
}

/* label / badge */
span.my.label {
  font-size: 85%;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 2px 0 2px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  background-color: lightgrey;
  color: rgb(80, 80, 80);
}
a.my.label {
  font-size: 85%;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 2px 0 2px;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  background-color: lightgrey;
  color: rgb(80, 80, 80);
}
.my.label:hover {
  background-color: rgb(216, 216, 216);
}
.my.circular.label {
  border-radius: 500rem;
}
.my.label.black {
  background-color: black;
  color: white;
}
.my.label.black:hover {
  background-color: rgb(49, 49, 49);
}
.my.label.white {
  background-color: ghostwhite;
  color: black;
}
.my.label.white:hover {
  background-color: rgb(224, 224, 224);
}
.my.label.grey {
  background-color: gray;
  color: white;
}
.my.label.grey:hover {
  background-color: rgb(167, 167, 167);
}
.my.label.milk {
  background-color: papayawhip;
  color: black;
}
.my.label.milk:hover {
  background-color: rgb(255, 219, 160);
}
.my.label.lead {
  background-color: rgb(45, 45, 45);
  color: white;
}
.my.label.lead:hover {
  background-color: rgb(80, 80, 80);
}
.my.label.red {
  background-color: darkred;
  color: white;
}
.my.label.red:hover {
  background-color: rgb(192, 51, 51);
}
.my.label.green {
  background-color: seagreen;
  color: white;
}
.my.label.green:hover {
  background-color: rgb(30, 160, 86);
}
.my.label.blue {
  background-color: royalblue;
  color: white;
}
.my.label.blue:hover {
  background-color: rgb(0, 93, 165);
}
.my.label.teal {
  background-color: teal;
  color: white;
}
.my.label.teal:hover {
  background-color: rgb(2, 168, 168);
}
.my.label.pink {
  background-color: hotpink;
  color: white;
}
.my.label.pink:hover {
  background-color: rgb(230, 43, 161);
}
.my.label.orange {
  background-color: orange;
  color: white;
}
.my.label.orange:hover {
  background-color: rgb(253, 189, 70);
}
.my.label.yellow {
  background-color: gold;
  color: white;
}
.my.label.yellow:hover {
  background-color: rgb(206, 175, 0);
}
.my.label.olive {
  background-color: yellowgreen;
  color: white;
}
.my.label.olive:hover {
  background-color: rgb(141, 187, 48);
}
.my.label.violet {
  background-color: blueviolet;
  color: white;
}
.my.label.violet:hover {
  background-color: rgb(128, 0, 248);
}
.my.label.brown {
  background-color: saddlebrown;
  color: white;
}
.my.label.brown:hover {
  background-color: rgb(173, 81, 15);
}
.my.label.danger {
  background-color: red;
  color: white;
}
.my.label.danger:hover {
  background-color: rgb(184, 3, 3);
}
.my.label.peace {
  background-color: #55adff;
  color: white;
}
.my.label.peace:hover {
  background-color: #428bcf;
}

/* card */
div.my.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -.675em -.5em;
}
div.my.cards > div.card {
  flex-direction: column;
  margin: .675em .5em;
  border-radius: 3px;
}
div.my.solo.card {
  margin: .675em .5em;
  border-radius: 3px;
}
div.my.cards > div.small-gap.card {
  flex-direction: column;
  margin: .25em .5em;
  border-radius: 3px;
}

/* panel */
div.my.panel {
  width: 100%;
  padding: 1.5em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-radius: 6px;
  background-color: papayawhip;
}
.my.panel.black {
  background-color: black;
  color: white;
}
.my.panel.white {
  background-color: ghostwhite;
  color: black;
}
.my.panel.grey {
  background-color: gray;
  color: white;
}
.my.panel.milk {
  background-color: papayawhip;
  color: black;
}
.my.panel.lead {
  background-color: rgb(45, 45, 45);
  color: white;
}
.my.panel.red {
  background-color: darkred;
  color: white;
}
.my.panel.green {
  background-color: seagreen;
  color: white;
}
.my.panel.blue {
  background-color: royalblue;
  color: white;
}
.my.panel.teal {
  background-color: teal;
  color: white;
}
.my.panel.pink {
  background-color: hotpink;
  color: white;
}
.my.panel.orange {
  background-color: orange;
  color: white;
}
.my.panel.yellow {
  background-color: gold;
  color: white;
}
.my.panel.olive {
  background-color: yellowgreen;
  color: white;
}
.my.panel.violet {
  background-color: blueviolet;
  color: white;
}
.my.panel.brown {
  background-color: saddlebrown;
  color: white;
}
.my.panel.danger {
  background-color: red;
  color: white;
}
.my.panel.peace {
  background-color: #55adff;
  color: black;
}

/* button-like div */
div.my.button {
  display: inline-block;
  padding: 0.38em;
  margin: 0.2em;
  border-radius: 0.4em;
  cursor: pointer;
  text-align: center;
  border: 1px solid lightgray;
  background: linear-gradient(120deg,
    hsl(0, 0%, 100%) 0%, 
    hsl(0, 0%, 50%) 100%);
  color: black;
  font-size: 100%;
}
.my.button:hover {
  border: 1px solid hsl(0, 0%, 50%);
  background: lightgrey;
  color: black;
}
.my.plain.button {
  background: whitesmoke;
}
.my.plain.button:hover {
  background: rgb(212, 212, 212);
}
.my.circular.button {
  border-radius: 50%;
}
.my.plain.button.black {
  background-color: black;
  color: white;
}
.my.plain.button.black:hover {
  background-color: rgb(49, 49, 49);
}
.my.plain.button.white {
  background-color: ghostwhite;
  color: black;
}
.my.plain.button.white:hover {
  background-color: rgb(224, 224, 224);
}
.my.plain.button.grey {
  background-color: gray;
  color: white;
}
.my.plain.button.grey:hover {
  background-color: rgb(167, 167, 167);
}
.my.plain.button.milk {
  background-color: papayawhip;
  color: black;
}
.my.plain.button.milk:hover {
  background-color: rgb(255, 219, 160);
}
.my.plain.button.lead {
  background-color: rgb(45, 45, 45);
  color: white;
}
.my.plain.button.lead:hover {
  background-color: rgb(80, 80, 80);
}
.my.plain.button.red {
  background-color: darkred;
  color: white;
}
.my.plain.button.red:hover {
  background-color: rgb(192, 51, 51);
}
.my.plain.button.green {
  background-color: seagreen;
  color: white;
}
.my.plain.button.green:hover {
  background-color: rgb(30, 160, 86);
}
.my.plain.button.blue {
  background-color: royalblue;
  color: white;
}
.my.plain.button.blue:hover {
  background-color: rgb(0, 93, 165);
}
.my.plain.button.teal {
  background-color: teal;
  color: white;
}
.my.plain.button.teal:hover {
  background-color: rgb(2, 168, 168);
}
.my.plain.button.pink {
  background-color: hotpink;
  color: white;
}
.my.plain.button.pink:hover {
  background-color: rgb(230, 43, 161);
}
.my.plain.button.orange {
  background-color: orange;
  color: white;
}
.my.plain.button.orange:hover {
  background-color: rgb(253, 189, 70);
}
.my.plain.button.yellow {
  background-color: gold;
  color: white;
}
.my.plain.button.yellow:hover {
  background-color: rgb(206, 175, 0);
}
.my.plain.button.olive {
  background-color: yellowgreen;
  color: white;
}
.my.plain.button.olive:hover {
  background-color: rgb(141, 187, 48);
}
.my.plain.button.violet {
  background-color: blueviolet;
  color: white;
}
.my.plain.button.violet:hover {
  background-color: rgb(128, 0, 248);
}
.my.plain.button.brown {
  background-color: saddlebrown;
  color: white;
}
.my.plain.button.brown:hover {
  background-color: rgb(173, 81, 15);
}
.my.plain.button.danger {
  background-color: red;
  color: white;
}
.my.plain.button.danger:hover {
  background-color: rgb(184, 3, 3);
}
.my.plain.button.peace {
  background-color: #55adff;
  color: white;
}
.my.plain.button.peace:hover {
  background-color: #428bcf;
}