<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" monitorInterval="30">

    <Properties>
        <Property name="logfileRoot">/app/data/log/spring-flow-root.log</Property>
        <Property name="logfileGeneral">/app/data/log/spring-flow-general.log</Property>
    </Properties>

    <Appenders>

        <Appender type="Console" name="stdout">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p](%-10.10t)[%c]: - %m%n"/>
        </Appender>

        <Appender type="File" name="r" fileName="${logfileRoot}">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p](%-10.10t)[%c]: - %m%n"/>
        </Appender>

        <Appender type="File" name="general" fileName="${logfileGeneral}">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p](%-10.10t)[%c]: - %m%n"/>
        </Appender>

    </Appenders>

    <Loggers>

        <Logger name="com.yu" level="debug" additivity="true">
            <AppenderRef ref="general"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="r"/>
        </Root>

    </Loggers>

</Configuration>
